/* Animation  */

.shake {
  animation: shakeAnim 7s ease-in infinite;
}
@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

.slide-down {
  animation: slide-down 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-down {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slide-top {
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-top {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.gradient-background {
  background-size: 120% 120%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.opac {
  animation: opac 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 30;
  }
}
